.wrapper {
  width: 90%;
  max-width: 800px;
  height: auto;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.up {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result {
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
}

.result p {
  font-size: 55px;
  color: white;
  font-weight: 700;
}

.result button {
  width: 220px;
  height: 50px;
  border-radius: 10px;
  color: var(--dark-text);
  border: none;
  font-size: 18px;
  letter-spacing: 2px;
  background: white;
  border: 3px solid white;
  transition: all 0.33;
  cursor: pointer;
}

.result button:hover {
  background: transparent;
  color: white;
}

.yourPick,
.housePick {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.yourPick p,
.housePick p {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.empty {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--dark-text);
}

.paper,
.rock,
.scissors {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.paper img,
.rock img,
.scissors img {
  background: white;
  border-radius: 100%;
  padding: 15px 20px;
}

.paper {
  background: linear-gradient(
    to bottom,
    hsl(230, 89%, 62%),
    hsl(230, 89%, 65%)
  );
}

.scissors {
  background: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.rock {
  background: linear-gradient(
    to bottom,
    hsl(349, 71%, 52%),
    hsl(349, 70%, 56%)
  );
}

.rock img {
  padding: 18px 20px;
}

@media (width >= 700px) {
  .paper,
  .rock,
  .scissors,
  .empty {
    width: 180px;
    height: 180px;
  }

  .yourPick,
  .housePick {
    gap: 20px;
    flex-direction: column-reverse;
  }

  .paper img,
  .rock img,
  .scissors img {
    padding: 30px 35px;
    width: 75%;
  }

  .rock img {
    padding: 32px 35px;
  }

  .result {
    position: absolute;
    top: 35px;
  }

  .yourPick p,
  .housePick p {
    font-size: 25px;
    margin: 0;
  }
}
