@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  /* - Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

### Neutral */

  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --outline: hsl(217, 16%, 45%);

  /* ### Background

- Radial Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%) */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
}

#__next {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  position: relative;
}

.rules {
  width: 30%;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  letter-spacing: 2px;
  transition: all 0.33s;
}

.rules:hover {
  background: white;
  color: black;
}

#hide {
  display: none;
}

#hide2 {
  opacity: 0;
}

@media (width >= 700px) {
  .rules {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  #__next {
    justify-content: space-evenly;
  }
}
